ご担当者 様

いつもお世話になっております。日本マイクロソフトの杜（ト）と申します。
この度は、お問い合わせをいただきまして誠にありがとうございます。 
本件につきまして、私が担当させて頂きますので、どうぞよろしくお願い致します。

[お問い合わせ番号 / タイトル] 
{{ caseID }} / {{ caseTitle}}

[お問い合わせ内容] 

[ご案内] 
お問合せ頂きました内容につきまして確認させて頂きますので、少々お時間を頂けますと幸いです。
進捗の有無に関わらず、遅くとも {{date}}（{{weekday}}）中までには調査の進捗をご報告させて頂きます。
早めに確認ができました場合は、速やかにご報告致します。
お待ち頂いている間に追加のご質問などございましたらお知らせくださいませ。

どうぞ宜しくお願い致します。